/*font-family: 'Major Mono Display', monospace;
font-family: 'Raleway', sans-serif;
--primary-color: #6c63ff;
--secondary-color: #f5f2fe;*/

:root {
  --background-color-1: #00101e;
  --background-color-2: #002749;
  --primary-color: #e8be45;
  --secondary-color: #31d2f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Major Mono Display", monospace;
  --secondary-font: "Raleway", sans-serif;
}
body {
  margin: 60px 0;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  background: var(--background-color-1);
  color: var(--secondary-color);
}
h1,
h2,
h3 {
  margin: 0;
  text-align: center;
  font-family: var(--primary-font);
}
h1 {
  font-size: 120px;
  color: antiquewhite;
}
h2 {
  font-size: 60px;
  color: var(--secondary-color);
}
h3 {
  font-size: 30px;
  color: var(--secondary-color);
}
p {
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background: var(--background-color-2);
  font-family: var(--secondary-font);
  color: antiquewhite;
}
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
.navbar {
  background: var(--primary-color);
}
.description {
  background: var(--background-color-2);
}
.view-project-line {
  font-size: 22px;
  font-family: var(--primary-font);
}
.nav-link,
.navbar-brand {
  font-family: var(--secondary-font);
  color: var(--background-color-2);
}
.contact-link {
  margin: 20px;
  border-radius: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-family: var(--secondary-font);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--background-color-2);
}
.about-link {
  margin: 20px;
  border-radius: 20px;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.homepage-link {
  display: block;
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
.primary-link {
  border-radius: 20px;
  padding: 20px 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: var(--background-color-2);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-family: var(--secondary-font);
}
.email-link {
  display: flex;
  justify-content: right;
  font-size: 28px;
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
.about-content {
  padding: 0;
  margin: 0;
}
.about-para {
  font-family: var(--secondary-font);
  font-size: 28px;
  color: antiquewhite;
  margin: 10px 0;
  text-align: justify;
}
.about-link:hover,
.homepage-link:hover {
  color: var(--secondary-color);
  font-weight: bolder;
}
.contact-link:hover,
.nav-link:hover,
.primary-link:hover {
  text-decoration: underline;
  color: black;
  font-weight: bolder;
}
@media (max-width: 700px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }

  p {
    font-size: 18px;
    text-align: center;
  }
.about-para {
  font-size: 15px;
}
  .primary-link {
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
